<ion-view view-title="Sign Up">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="user@domain.com" ng-model="email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="*********" ng-model="password">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password confirmation</span>
        <input type="password" placeholder="*********" ng-model="password_confirmation">
      </label>
      <button class="button button-block button-positive" ng-click="submitSignup(email, password, password_confirmation)">
        Sign up
      </button>
    </div>
  </ion-content>
</ion-view>
